*{
	padding:0;
	margin: 0;
	box-sizing: border-box;	
}

body{
	background-image: url(https://i.ibb.co/0VZRMHx/databitoriginal-escura.jpg);
	font-family: 'Segoe UI','Arial';
	overflow-x: scroll;

	display: flex;
	align-items: center;
	justify-content: center;
   /*  background-color: ; */
	margin-top: 5%;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

h1, h4{
	color: #152029;
	margin-left: 60px;
}

h1 {
	font-size: 22px;
	margin-bottom: 25px;
}


section.content{
	width: 2000px;
	height: 200vh;
	/* background: #fff; */
	box-shadow: 0px 0px 10px #CCC;
	margin: 0 auto;
}

div.box_form{
	border-bottom: 1px solid #DDD;
	padding: 15px 25px;
	background: #F5F5F5;
	display: flex;
	justify-content: space-between;
	border-radius: 20px;
}


 /* .button{
	border: 1px solid #ddd;
	margin-top: 4px;
	color:#666;
	border-radius: 20px;
	padding: 10px 15px;
	margin-left: 60px;
}
 */

.btn-env{
	background: #caec4f;
	color:#2b1414;
	cursor: pointer;
	border:0;
	border-radius: 3px;
	margin-left: 60px;
	border-radius: 20px;
	height: 40px;
	width: 100px;
}


.btn-voltar{
	background-color: #0000CD;
  	color: white;
	border-radius: 10px;
	float: right;
	border: 0px;
    box-shadow: 3px 4px #ccc;
	display: flex;
	margin-left: 5rem;
	padding: 0.1rem;
}

.btn-tec{
	background-color: #048524;
  	color: white;
	border-radius: 10px;
	border: 0px;
    box-shadow: 3px 4px #ccc;
	padding: 0.3rem;
}

.link{
	color: white;
	text-decoration: none;
}

.buttons{
	background-color: #0000CD;
	align-items: baseline;
}

.cab{
	display: flex;
	justify-content: space-between;
}

.card-header{
	display: flex;
}


.input-qtde{
	width: 50px;
	height: 30px;
	margin-left: 0; 
	/* margin-top: 0px; */
	border-color: white;
	border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.btn-qtde{
	/* float: right; */
	cursor: pointer;
    background-color: rgb(71, 212, 71);
    border-radius: 10px;
    border: 0;
    box-shadow: 3px 2px #ccc;
	height: 30px;
	margin-left: 5px;
	color: aliceblue;
}

.label{
	font-weight: bold;
	font-size: 15px;
	margin-left: 17rem;
}

.labelTecOS{
	font-weight: bold;
	font-size: 15px;
}

.resultado{
	color: rgb(243, 145, 145);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 30px;
	font-size: 40px;
}

.resultado2{
	color: rgb(178, 248, 171);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 30px;
	font-size: 40px;
}

.titulo{
	color: darkslategray;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
 
.divGlobal{
	align-items: baseline;
}

.selectCidade, .selectBairro, .selectEstado{
	padding: 0.3rem;
	border-radius: 10px;
	margin-right: 1px;
	width: 15rem;
}

.selectTecnico{
	padding: 0.3rem;
	border-radius: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 25rem;
	
}

.tituloGeral{
	color: #fff;
}

.selectTecLinha{
	width: 3rem;
	border-radius: 10px;
}

.filtrarLinha{
	width: 2rem;
	height: 1rem;
	background-color: darkorange;
	border: 0;
	border-radius: 10px;
	font-size: 8px;
	font-weight: bold;
	box-shadow: 2px 3px #ccc;
}

.filtrarLinhaRet{
	width: 1rem;
	height: 1rem;
	background-color: rgb(255, 81, 0);
	border: 0;
	border-radius: 10px;
	font-size: 8px;
	font-weight: bold;
	box-shadow: 2px 3px #ccc;
	margin-left: 1.1rem;
}

.btnDetal{
	float: right;
	/* background-color: none; */
	border: 0;
	color: red;
	/* margin-left: 2rem; */
	font-size: small;
	padding: 0.3rem;
	float: left;
	border-radius: 5px;
	/* box-shadow: 2px 3px grey; */
}

.fecharDetal{
	margin-right: 0.5rem;
	text-decoration: none;
	font-weight: bold;
}

.fecharDetal :hover{
	color: red;
	transition: 0.5s;
}

.titDetal{
	margin-left: 0.3rem;
	font-size: 1rem;
}

.form-filters{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.box_form{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.btnFechar{
	border-radius: 50px;
	border: none;
	background-color: red;
	width: 2rem;
	height: 2rem;
}

.btn-logoff{
	background-image: url(https://i.ibb.co/QK6YJkJ/logoff.png);
	float: right;
	background-color: #FA8072;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.6em;
	/* padding-left: 1.3em; */
	border: 0;
	cursor: pointer;
  
	height: 40px;
	width: 40px;
	margin-top: 5px;
	margin-right: 5px;
	/* margin-left: 10rem; */
	border-radius: 20px;
	box-shadow: 4px 4px rgb(170, 169, 169);

  }

  a{
	width: 50px;
	float: right;
	display: flex;
  }
